#background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#background img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#background::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 0;
}

/* Adicional: Estilo para o conteúdo sobreposto */

/* Adicionando regras de mídia para tornar o código responsivo */
@media screen and (max-width: 768px) {
  #background img {
    object-fit: contain; /* Ajuste conforme necessário para manter a imagem visível */
  }
}
