#video {
  display: flex;
}

#video iframe {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  height: 50%;
  z-index: 1;
}

/* Adicionando regras de mídia para tornar o código responsivo */
@media screen and (max-width: 768px) {
  .content {
    top: 20%; /* Ajuste conforme necessário */
  }

  #video iframe {
    width: 100%; /* Ajuste conforme necessário */
    height: auto; /* Ajuste conforme necessário */
  }
}
